*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;;
}

a {
    text-decoration: none;
    color: inherit;
}

body{
    background-color: #f8f9fd;
}

/* .jobs-header {
    width: 100vw;
    display: flex;
    background-color: #52de97;
    justify-content: space-between;

    padding: 1.5rem 3rem;
    position: sticky;
    top: 0px;
    left: 0;
    z-index: 10;

}

.jobs-header .form{
    width: 70%;

} */


.jobs-header {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.empty-job{
    padding: 1rem;
}

.jobs-header .form{
    width: 70%;

}

.jobs-header .form .input-field input{
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;

    height: 52px;
    background: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline-color: #52de97;
}

/* .create-job {
    
} */

.create-job button{
    margin-top: 0px;
    background: #52de97;
    border: 1px solid #ffffff;
    color: #333333;
    cursor: pointer;
    box-shadow: none;
    font-size: 15px;
    height: 52px;
    padding: .4rem 1rem;
    border-radius: 0.25rem;
    font-weight: 700;
    text-align: center;
    width: 180px; 
    margin-left: 20px;
    
    cursor: pointer;
}

/* .create-job button:hover{
    color: #ffffff;
} */

.jobs-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;

    /* margin-top: 50px; */


}

.job {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;

    position: relative;
}

.job-details {
    display: flex;
    flex-direction: column;
    
}

.job-details .job-title{
    margin-bottom: 1rem;
}

.job-details .job-company{
    margin-bottom: 1.25rem; 
}

.job-details .date-added{
    font-size: 14px; 
    color: grey;
}

.job-options{
    height: fit-content;
}

.job-options .fa{
    font-size: 25px;
    cursor: pointer;
    margin-left: 1rem;
    cursor: pointer;
    padding: 5px 0px 5px 5px;

}


@media screen and (max-width: 575px) {
    .jobs-header{
        padding: 1rem;
        display: block;
    }

    .create-job {
        width: 100%;

    }

    .jobs-header .form{
        width: 100%;
        margin-bottom: 1rem;
    }

    .create-job button{
        width: 100%;
        margin-left: 0;
    }


    .job {
        padding: 1.5rem;
    }
}


.update-delete-modal-container{
    width: 100%;
    max-width: 200px;
    background-color: rgb(78, 78, 78);
    color: white;
    border-radius: 8px;

    position: absolute;
    right: 0;
    bottom: 0px;

    display: none;
    /* visibility: hidden; */
    
}

.update-delete-modal-container.active{
    display: block;
    /* visibility: visible; */
}

.update-delete-modal-container p{
    padding: 10px;
    cursor: pointer;
}

.update-delete-modal-container p:hover{
    background-color: rgb(90, 90, 90);
}

.update-delete-modal-container .edit{
    border-bottom: 1px solid white;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.update-delete-modal-container .delete{
    color: red;
    border-bottom: 1px solid white;
    
}

.update-delete-modal-container .cancel{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}